body {
	background-color: slategray;
}

h1 {
	font-family:  Monaco, Monospace;
	font-size: 3.5em;
	border: medium solid white;
	color: #B3C7D6FF;
	text-align: center;
}

h2 {
	font-family:  Monaco, Monospace;
}


ol {
	background-color: #657C91;
}


p {
	font-family: FreeMono, Monospace;
	font-size: .9em;
}


nav {
	height: 40px;
	background-color: #657C91;
} 

ul {
	list-style: none;
}

li {
	float: left;
	text-align: center;
	font-family: FreeMono, Monospace;
}

li a {
	display: block;
	color: #7FB7E7;
	padding: 10px 30px;
	text-decoration: none;
}

	
